@import '../style/lib/vars';

.expense-item {
  background-color: white;

  & .item-header {
    border-bottom: none;
  }
}

.item-header {
  & .item-header-left {
    flex: 1;
    font-size: 1.25rem;
    display: flex;
    align-items: baseline;

    & .expense-title {
      margin-right: ($gutter-small + $gutter-xsmall) / 2;
    }
  }
}